# Gradle
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.eclipse
.project
.classpath
.settings/

# Visual Studio Code
.vscode/

# Spring Boot
application-*.properties
application-*.yml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
/lucene-index/
